<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <osc>
            <!--Ajax Loading Field-->
            <actions>
                <saveAddressTrigger>
                    <shipping_method>secure-checkout-shipping-method-available</shipping_method>
                    <payment_method>secure-checkout-payment-method-available</payment_method>
                    <review_cart>secure-checkout-review-item</review_cart>
                    <review_coupon>secure-checkout-review-coupon</review_coupon>
                </saveAddressTrigger>
                <saveShippingMethod>
                    <payment_method>secure-checkout-payment-method-available</payment_method>
                    <review_cart>secure-checkout-review-item</review_cart>
                    <review_coupon>one.step.checkout.container.form.review.coupon</review_coupon>
                </saveShippingMethod>
                <savePayment>
                    <review_cart>secure-checkout-review-item</review_cart>
                    <review_coupon>one.step.checkout.container.form.review.coupon</review_coupon>
                </savePayment>
                <ajaxCartItem>
                    <shipping_method>secure-checkout-shipping-method-available</shipping_method>
                    <payment_method>secure-checkout-payment-method-available</payment_method>
                    <review_cart>secure-checkout-review-item</review_cart>
                    <review_coupon>secure-checkout-review-coupon</review_coupon>
                    <cart_sidebar>minicart</cart_sidebar>
                </ajaxCartItem>
                <addGiftWrap>
                    <shipping_method>secure-checkout-shipping-method-available</shipping_method>
                    <payment_method>secure-checkout-payment-method-available</payment_method>
                    <review_cart>secure-checkout-review-item</review_cart>
                    <review_coupon>secure-checkout-review-coupon</review_coupon>
                </addGiftWrap>
                <saveCoupon>
                    <shipping_method>secure-checkout-shipping-method-available</shipping_method>
                    <payment_method>secure-checkout-payment-method-available</payment_method>
                    <review_cart>secure-checkout-review-item</review_cart>
                </saveCoupon>
            </actions>
            <blocks>
                <shipping_method>#one-step-checkout-shipping-method .shipping-methods</shipping_method>
                <payment_method>#one-step-checkout-payment-method</payment_method>
                <review_cart>.one-step-checkout-order-review-cart</review_cart>
                <review_coupon>#one-step-checkout-review-coupon</review_coupon>
                <cart_sidebar>.minicart-wrapper</cart_sidebar>
            </blocks>
            <!--/Ajax Loading Field-->
            <general>
                <is_enabled>1</is_enabled>
                <allow_ship_to_defferent_address>1</allow_ship_to_defferent_address>
                <title>Secure Checkout</title>
                <router_name>osc</router_name>
                <description>Please enter your details below to complete your purchase.</description>
                <is_block_numbering>1</is_block_numbering>
                <auto_detect_address>google</auto_detect_address>
                <pca_website_key>AA11-AA11-AA11-AA11</pca_website_key>
                <pca_country_lookup>1</pca_country_lookup>
            </general>
            <display_configuration>
                <is_enabled_review_cart_section>1</is_enabled_review_cart_section>
                <is_show_product_image>1</is_show_product_image>
                <product_image_width>75</product_image_width>
                <product_image_height>75</product_image_height>
                <is_show_edit_cart_link>1</is_show_edit_cart_link>
                <is_enabled_coupon>1</is_enabled_coupon>
                <display_apply_coupon_button>1</display_apply_coupon_button>
                <is_enabled_giftmessage>1</is_enabled_giftmessage>
                <is_enabled_comments>1</is_enabled_comments>
                <is_enabled_newsletter>1</is_enabled_newsletter>
                <is_enabled_related_products>0</is_enabled_related_products>
                <is_enabled_morph_effect>0</is_enabled_morph_effect>
            </display_configuration>
            <design_configuration>
                <page_layout>3columns</page_layout>
                <popup_effect>mfp-move-from-top</popup_effect>
                <is_show_numbering>0</is_show_numbering>
                <heading_style>style_3</heading_style>
                <style_color>black</style_color>
                <style_heading_custom>616161</style_heading_custom>
                <place_order_color>616161</place_order_color>
                <place_order_color>3398CC</place_order_color>
            </design_configuration>
        </osc>
    </default>
</config>